<!-- Enter your name : <input type="text" [(ngModel)]=txt><br>
<h1>Your name is {{txt}}</h1>
<button *ngIf = "HideShow">Hide and Show</button>
<div *ngIf = "age <=19;else elseBlock"> You are adult </div>
<ng-template #elseBlock>
    <h1>else block is working</h1>
</ng-template>
<div [ngSwitch]="color">
    <h1 style="color: red;" *ngSwitchCase="'red'">Red Color</h1>
    <h1 style="color: orange;" *ngSwitchCase="'orange'">Orange Color</h1>
    <h1 *ngSwitchCase="">Default Color</h1>
</div>
<ul>
    <li *ngFor = "let list of name" >{{list}}</li>
</ul>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let users of user">
            <td>{{users.name}}</td>
            <td>{{users.age}}</td>
        </tr>
    </tbody>
</table>
<app-parent [Nvalue]="value"></app-parent>
<h2 appHideshow>Learn Angular</h2>
<table border="2px">
    <thead>
        <td>Name</td>
        <td>Age</td>
        <td>Email</td>
    </thead>
    <tbody>
        <tr *ngFor = "let list of allList">
            <td>{{list.name}}</td>
            <td>{{list.age}}</td>
            <td>{{list.email}}</td>

        </tr>
    </tbody>
</table> -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Routing</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> -->
  <h1>App Links</h1>
  <ul>
    <li>
      <a routerLink = "app/login">LogIn</a>
    </li>
    <li>
      <a routerLink = "app/list">List</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
  <h3>User Link</h3>
  <ul>
    <li>
      <a routerLink = "user/login">LogIn</a>
    </li>
    <li>
      <a routerLink = "user/list">List</a>
    </li>
  </ul>
  <router-outlet></router-outlet> 
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Angular</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">LogIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="list">List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet> -->